# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Logs and databases
*.log
*.sqlite3
*.db

# Uploads and outputs
uploads/
static/outputs/

# OS files
.DS_Store
Thumbs.db

# ZIPs or temp
*.zip
*.tmp

# Jupyter notebooks (optional)
*.ipynb
